parameters:

    paths:
        - src

    level: max

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Argument of an invalid type array\|ArrayAccess\|\(iterable&object\) supplied for foreach, only iterables are supported\.#'
        - '#Cannot access offset mixed on array\<int\|string, mixed\>\|ArrayAccess\|\(iterable&object\)\.#'
